<!DOCTYPE html>
<html>
<head>
  <title>Cellphone</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "jquery.min.js", "rails", "highcharts" %>  
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
